<% partial_payment_methods = Spree::PaymentMethod.supporting_partial_payments %>
<% if partial_payment_methods.present? %>
  <%= render :partial => '/shared/split_payments_data', :locals => { :payment_methods => partial_payment_methods } %>
  Club my payment with
  <table id="split_payment_options">
  <% partial_payment_methods.each do |payment_method| %>
    <tr>
      <td>
        <label>
        <%= check_box_tag "order[split_payments][][payment_method_id]", payment_method.id %>
        <%= Spree.t(payment_method.name) %>
        </label>
        (<label class="pm-amount" data-pm-id=<%= payment_method.id %>></label>)
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<!-- [TODO] No inline JS -->
<script>
  var order_balance = <%= current_order.outstanding_balance %>
</script>