<!-- [TODO] I guess here we need active payment modes scope. Can we move this condition to the file where we are rendering this partial? -->
<!--  Please take care of indentation too -->
<% partial_payment_methods = Spree::PaymentMethod.supporting_partial_payments %>
<% if partial_payment_methods.present? %>
<%= render :partial => '/shared/split_payments_data', :locals => { :payment_methods => partial_payment_methods } %>
Club my payment with
<table id="split_payment_options">
<!-- [TODO] No query logic in views -->
<% partial_payment_methods.order('partial_priority desc').each do |payment_method| %>
  <tr>
    <!-- [TODO] Not sure why we are adding a label inside a label -->
    <td><label>
      <%= check_box_tag "order[split_payments][][payment_method_id]", payment_method.id %>
      <%= Spree.t(payment_method.name) %>
      (<label class="pm-amount" data-pm-id=<%= payment_method.id %>></label>)
    </label></td>
  </tr>
<% end %>
</table>
<% end %>
<!-- [TODO] No inline JS please -->
<script>
  var order_balance = <%= current_order.outstanding_balance %>
</script>